{
    "root": true,
    "plugins": [
      "prettier"
      ,"@typescript-eslint"
    ],
    "extends": "prettier",
    "rules": {
      "prettier/prettier": 2 ,
      "no-use-before-define": ["error", { "functions": true, "classes": true }],
      "no-var": "error",
      "prefer-const": "error"
    },
    "parser": "@typescript-eslint/parser",
    
    "parserOptions": {
      "ecmaVersion": 9,
      "sourceType":"module"
    },
    "env": {
      "node": true
    }
}


